.bars-container {
  position: relative;
  border: 5px solid black;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

.main-bars,
.ambient-bars {
  display: flex;
  padding: 1em 5px 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: flex-end;
}
