.control-tab-container {
  border-bottom: 1px solid black;
}

.settings {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.settings > button,
.settings > .slider {
  margin-right: 20px;
}

.slider > p {
  margin: 0;
}

.play-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.play-buttons svg {
  font-size: 40px !important;
}
